# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=atlantic_db

# TimescaleDB Configuration
TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=postgres
TIMESCALE_DB=timescale_db

# MQTT Configuration
MQTT_PORT=1883

# App Configuration
NODE_ENV=development
PORT=3333